body {
	background-color:red;
}

nav {
	position:fixed;
	left:0;
	top:0;
	right:0;
	height:12vh;
	display:table;
	width:100vw;
	padding-left:7px;
	padding-right:7px;
	background-color:#FF972F;
}

.nav-objs{
	display:table-cell;
	font-weight:500;
	color:#C60;
}
#content-pane{
	margin: 20vh 11vw 11vw 15vh;