body {
      background: #000;
      padding-bottom: 6rem;
	  min-height:100vh;
    }
    .navSpan {
      -moz-transition: color .8s ease-in-out;
      -ms-transition: color .8s ease-in-out;
      -o-transition: color .8s ease-in-out;
      -webkit-transition: color .8s ease-in-out;
      transition: color .8s ease-in-out;
      background-color: transparent;
      color: #FFF;
      cursor: pointer;
      display: table-cell;
      font-family: acme;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      height: auto;
      letter-spacing: .03em;
      padding-bottom: 11.4px;
      padding-top: 9px;
      text-align: center;
      transition: color .8s ease-in-out;
      visibility: visible;
      width: auto;
      word-spacing: .07em;
    }
    .navSpan:hover {
      color: red;
    }
    .navSpan:first-child {
      margin-left: 3px;
    }
    .navSpan:last-child {
      margin-right: 3px;
    }
    div#navDiv {
      display: table;
      width: 100%;
    }
    nav {
      background-color: #000;
      border: 3px solid #FFF;
      height: 50px;
      left: 0;
      padding-left: 5px;
      padding-right: 5px;
      position: absolute;
      right: 0;
      top: 0;
      width: calc(100%-6px);
      width: calc(100% - 6px);
    }
    footer {
      background-color: #505050;
      border-top-color: #FFF;
      border-top-width: 3px;
      border-top-style: solid;
      color: #FFF;
      height: 163px;
      left: 0;
      padding: 1rem;
      padding-left: 0;
      position: absolute;
	  bottom:0;
      text-align: center;
      width: 100%;
    }
    #content-box {
      background-color: black;
      border-color: white;
      border-width: 3px;
      border-style: solid;
      color: #FFF;
      margin: 100px 5% 110px 5%;
      top: 100px;
      width: 90%;
      text-align: center;
      -webkit-transition: background-color 0.6s ease-in-out 0s;
      -moz-transition: background-color 0.6s ease-in-out 0s;
      -ms-transition: background-color 0.6s ease-in-out 0s;
      -o-transition: background-color 0.6s ease-in-out 0s;
      transition: background-color 0.6s ease-in-out 0s;
    }
    #content-box:hover {
      background-color: #0A0A0A;
    }